body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
  color: #666;
  font-weight: normal;
}

* {
  /* border: 1px solid black; */
}

.container {
  width: 1150px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0 65px 0;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-size: 35px;
  margin: 0 0 10px 0;
}

.title h5 {
  font-size: 16px;
  margin: 0;
  font-weight: normal;
}

.credits-container {
  text-align: right;
  font-size: 12px;
}

.credits-container h5 {
  font-size: 15px;
  margin: 0 0 10px 0;
}

.credits-container p {
  font-size: 10px;
  margin: 0 0 5px 0;
}

.credits-container a{
  text-decoration: none;
}

.credits-container a:hover{
  text-decoration: underline;
}

.credits-container a:visited{
  color: inherit;
}

.map-container {
  width: 550px;
}

.get-started-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
}

.get-started-container p {
  margin: 0;
}

.get-started-container h1 {
  font-size: 75px;
  margin: 0;
}

.no-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
}

.no-data-container p {
  margin: 0;
}

.no-data-container h1 {
  font-size: 35px;
  margin: 15px 0 15px 0;
}

.chart-container {
  width: 550px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
}

.loading-container p {
  margin-bottom: 25px;
}

.footer-container {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.footer-container a {
  color: inherit;
}

.footer-container a:visited {
  color: inherit;
}
